hosts = {
  flynn = {
    name           = "flynn"
    cores          = 6
    memory         = 8096
    ip_addr        = "x.x.x.x"
    gateway        = "x.x.x.x"
    cidr           = "/24"
    node_name      = "proxmox"
    network_bridge = "vmbr0"
    vlan_id        = 69
    datastore_id   = "ssd"
    disk_size      = 128
  }
  clu = {
    name           = "clu"
    cores          = 6
    memory         = 8096
    ip_addr        = "x.x.x.x"
    gateway        = "x.x.x.x"
    cidr           = "/24"
    node_name      = "proxmox"
    network_bridge = "vmbr0"
    vlan_id        = 69
    datastore_id   = "ssd"
    disk_size      = 128
  }

}

proxmox = {
  url                   = "https://x.x.x.x:8006/"
  download_node_name    = "proxmox"
  download_datastore_id = "local"
  host_description      = "Managed by Myrenic's Terraform"
  host_tags             = ["terraform"]
}

talos = {
  cluster_name             = "ENCOM"
  version                  = "v1.10.6"
  control_plane_identifier = "flynn"
  worker_identifier        = "clu"
  img_id                   = "ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515"
}
